/* General Styles */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}


nav {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: rgb(106, 103, 103);
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  justify-content: space-between;
}

h1{
  font-size: 45px;
}

.navbar-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-opt-ul{
  display: flex;
  flex-direction: row;
}

.nav-opt-ul li{
  margin-left: 20px;
  list-style-type: none;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}

.nav-opt-ul li a{
  text-decoration: none;
  color: black;
}

.nav-opt-ul li a:hover{
  color: #e6e6e99f;
  cursor: pointer;
  transform: scale(1.2);
  font-weight: bold;
}

.main-logins{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.main-logins p{
  font-weight: bold;
}

.main-logins button{
  width: 100px;
  border-radius: 20px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  border: none;
  background-color: rgb(17, 57, 126);
  color: white;
  font-weight: bold;
}

.main-logins button:hover{
  cursor: pointer;
  background-color: #094ec6;
}

.main-logins button a{
  text-decoration: none;
  color: white;
}

.person-icon{
  border: 2px solid;
  border-radius: 29px;
  padding: 5px;
  margin-left: 10px;
}

.person-icon:hover{
  background-color: rgba(105, 109, 138, 0.622);
  cursor: pointer;
}

.menu-icon{
  display: none;
}

.menu-icon:hover{
  cursor: pointer;
}





@media (max-width:1033px) {
  .main-logins{
    transform: scale(0.9);
  }
  .main-options{
    transform: scale(0.9);  
    margin-left: -50px; 
  }
  
}

@media (max-width:959px) {
nav{
  height: 80px;
}

  h1{
    font-size: 40px;
  }
  .navbar-main{
    display: none;
  }

  .menu-icon{
    display: flex;
  }
  .navbar-main-mobile{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    background-color: #070055;
    height: 100vh;
    width: 100vw;
    margin-right: 0;
    align-items: center;
    transition: right 0.5s ease-in-out;
    color: white;
  }
 
  .navbar-main-mobile .nav-opt-ul{
    flex-direction: column;
    margin-top: 20px;
  }
  .navbar-main-mobile .nav-opt-ul li a{
    margin-top: 30px;
    color: white;
    font-size: 30px;
    text-align: center;
    
  }
  .navbar-main-mobile .main-logins{
    flex-direction: column;
    margin-top: -5%;
    align-items: center;
  }
  .navbar-main-mobile .main-logins button{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
  }
  .navbar-main-mobile .main-logins .person-icon{
    margin-top: 20%;
    width: 50px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
  }

}